*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(203, 137, 237);
    font-family: 'Roboto', sans-serif;
    
}

.nav-bar{
    background:green ;
}


.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(47, 226, 47);
    
}

.logo h1{
    font-family:'Helvitica';
    position: relative;
    left: 600px;
    font-size: 45px;
}

ul {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     position: relative;
     top: 40px;   
     background: green;
     height: 40px; 
}


ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
}
 
.main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    background: rgb(129, 207, 13);
}

.div1{
    background: rgb(12, 235, 12);
    width: 69%;
}
.div1 p {
    margin-top: 50px;
    font-size: 20px;
    padding-left: 30px;
}

.div1 h2{
    position: relative;
    top: 15px;
    left: 400px;
    font-family: 'Gill Sans';
    font-size: 45px;
}
 aside {
    width: 30%;
    background: rgb(12, 235, 12);
    
}

.div2 p{
    gap: 30px;
}

.images{
    margin-top: 50px;
    position: relative;
    left: 40px;
}
 aside h2{
    position: relative;
    left: 130px;
    top: 15px;
 }
 footer {
    margin-top: 20px;
    background: rgb(131, 182, 55);
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    padding-left:30px ;
 }

 footer p  {
    position: relative;
    top: 10px;
    
 }

 .sentence{
    position: relative;
    top: 50px;
 }